.bk1 {
	BORDER-RIGHT: #f15200 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #f15200 1px solid; BACKGROUND-COLOR: #d55300; TEXT-DECORATION: none
}
TD {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
.z12 {
	FONT-SIZE: 12px; COLOR: #ffc6c1; TEXT-DECORATION: none
}
A.z12:link {
	FONT-SIZE: 12px; COLOR: #ffc6c1; TEXT-DECORATION: none
}
A.z12:visited {
	FONT-SIZE: 12px; COLOR: #ffc6c1; TEXT-DECORATION: none
}
A.z12:hover {
	FONT-SIZE: 12px; COLOR: #ffff00; TEXT-DECORATION: none
}
A.z12:active {
	FONT-SIZE: 12px; COLOR: #ffc6c1; TEXT-DECORATION: none
}
.zm {
	FONT-SIZE: 12px; COLOR: #ffc6c1; TEXT-DECORATION: underline
}
A.zm:link {
	FONT-SIZE: 12px; COLOR: #ffc6c1; TEXT-DECORATION: underline
}
A.zm:visited {
	FONT-SIZE: 12px; COLOR: #ffc6c1; TEXT-DECORATION: underline
}
A.zm:hover {
	FONT-SIZE: 12px; COLOR: #ffff00; TEXT-DECORATION: none
}
A.zm:active {
	FONT-SIZE: 12px; COLOR: #ffc6c1; TEXT-DECORATION: none
}
.inputbox {
	BORDER-RIGHT: #ff9b59 1px inset; BORDER-TOP: #990000 1px outset; FONT-SIZE: 12px; BORDER-LEFT: #990000 1px outset; COLOR: #000000; BORDER-BOTTOM: #ff9b59 1px inset; HEIGHT: 20px; BACKGROUND-COLOR: #ffa062
}
.htext {
	FONT-SIZE: 12px; COLOR: #9f3b00
}
